@each $color, $value in $theme-colors {
    .btn-outline-#{$color} {
        position: relative;

        &:after {
            content: "";
            position: absolute;
            background-color: $value;
            width: 90%;
            height: 2px;
            bottom: -3px;
            left: 5%;
        }
    }
}

.ajax-create-btn {
    float: right;
    border-radius: 50%;
    padding: 0;
    height: 30px;
    width: 30px;
    color: $white;
    background-color: $gray-900;

    &:hover {
        color: $white;
        background-color: $gray-700;
    }

    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.16);
    }
}
