.checkout {
    .inner {
        padding: ($spacer * 4) 0;
        display: block;
        max-width: 560px;
        margin: 0 auto;
    }

    .navigation {
        margin-bottom: $spacer * 2;

        .seperator {
            padding: 0 $spacer;
        }

    }

    h3 {
        margin-bottom: $spacer * 2;
    }

    .form-group {
        margin-bottom: $spacer * 3;
    }

    .shipping {
        .method {
            line-height: 1.4;

            .title {
                font-weight: 600;
            }

            .cost {
                position: absolute;
                right: $spacer * 4;
                top: 30%;
                font-family: $headings-font-family;
                font-weight: bold;
                font-size: $font-size-lg;
            }
        }
    }

    .cart {
        padding-top: $spacer;
    }

    .list-products {
        .product {
            .quantity {
                background: rgba( $gray-900, .6 );
                color: $white;
                width: 27px;
                height: 27px;
                display: block;
                text-align: center;
                border-radius: 50%;
                line-height: 28px;
                position: absolute;
                left: 65px;
                top: -10px;
            }

            .name {
                margin-left: $spacer * 2;
                font-family: $headings-font-family;
                font-weight: bold;
            }

            .price {
                font-family: $headings-font-family;
                font-weight: bold;
                text-align: right;
                display: block;
            }

            img {
                max-width: 65px;
            }
        }
    }
}
