// Product List
.product-list {
    .product {
        text-align: center;
        margin-bottom: $spacer * 2;

        h3 a {
            color: $black;

            &:hover {
                text-decoration: none;
            }
        }

        .price {
            margin: 0;
            font-family: $headings-font-family;
            font-size: $font-size-base * 1.125;
        }
    }
}



// Single product
.full-width.single-product {
    padding: 0;
}

.single-product {

    .content {
        position: fixed;
        height: 100vh;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        bottom: 0;
        text-align: center;
        font-family: $headings-font-family;

        .inner {
            padding: $spacer ($spacer * 4);
        }
    }

    h1 {
        font-weight: bold;
        margin-bottom: $spacer * 2;
    }

    .price {
        margin: 0;
        font-family: $headings-font-family;
        font-size: $font-size-lg * 1.5;
        margin-bottom: $spacer;
        font-weight: bold;
    }

    .description {
        padding: 0 ($spacer * 4);
    }

    .meta {
        margin-bottom: $spacer * 2;
    }
}
