// Shop
.shop-nav {
    margin-bottom: $spacer * 2;
}

// Shopping chart
.shopping-cart {
    .item {

        img {
            width: 150px;
            height: auto;
        }

        td:first-of-type {
            width: 150px;
            padding-left: 0;
        }

        td:last-of-type {
            padding-right: 0;
        }

        .btn {
            float: right;
        }

    }

    .price {
        font-family: $headings-font-family;
        font-size: $font-size-base * 1.125;
        font-weight: bold;
    }
}
